body, h1, h2, h3, h4, h5, h6, hr, p, blockquote,dl, dt, dd, ul, ol, li, pre, fieldset, lengend, input, textarea, th, td { 
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
  width: 100%;
  font-size: .28rem
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
}
a, button, :focus, a:focus, button:focus, a:active, a:hover {
    outline: 0;
    outline-style: none;
}
.cube-input::after, .cube-select::after, .cube-textarea-wrapper::after
  border 0  
.cube-input-field
  padding 0
.c-blue
  .cube-input-field
    color #529cf8
// flex定位
.d-f
  display flex
.f-d-c
  flex-direction column
.a-i-c
  align-items center
.j-c-f-e
  justify-content flex-end
.j-c-c
  justify-content center
.j-c-s-b
  justify-content space-between
.j-c-s-a
  justify-content space-around
.f-1
  flex 1
.f-2
  flex 2
.f-3
  flex 3
.f-l
  float left
.f-r
  float right
.clear
  clear both
// 颜色区域
.c-666
  color #666666
.c-333
  color #333333
.c-fff
  color #fff
.c-blue248
  color rgb(82,156,248)
.c-red75
  color rgb(255,75,75)
.bgc-blue248
  background-color: rgb(82,156,248)
.bgc-green96
  background-color: rgb(70,226,96)
.bgc-red75
  background-color: rgb(255,75,75)
.bgc-yellow53
  background-color: rgb(250,187,53)
.bgc-gray231
  background-color: rgb(231,231,231)
// padding
.p-0
  padding 0
.p-10
  padding .2rem
.p-20
  padding .4rem
.pb-10
  padding-bottom .2rem
.pr-12
  padding-right .24rem
.pl-12
  padding-left .24rem
.plr-10
  padding 0 .2rem
.pt-10
  padding-top .2rem
.pb-10
  padding-bottom .2rem
.pb-15
  padding-bottom .3rem
.m-10
  margin .2rem
.ml-10
  margin-left .2rem
.ml-12
  margin-left .24rem
.m-lf-5
  margin 0 .1rem
.m-lf-10
  margin 0 .2rem

// 字体区域
.f-12
  font-size .24rem
.f-14
  font-size .28rem
.f-15
  font-size .30rem
.f-16
  font-size .32rem
.f-18
  font-size .36rem
.f-24
  font-size .48rem
.f-w-5
  font-weight 500  
.t-c
  text-align center
.t-l
  text-align left
// 边框
.b-b-e
  border-bottom .02rem solid #eeeeee
// 大小
.w-100
  width 100%
.w-80
  width 80%
.w-50
  width 50%
.w-20
  width 20%
.h-20
  height 20%
.ht-20
  height .4rem
.ht-45
  height .9rem
.l-h-45
  line-height .9rem
.d-b
  display block